<a href="https://colab.research.google.com/github/RNEequalRNA/youtube-data-acquisition/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sample

In [25]:
import requests
import urllib
import copy
import re
import json
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
API_KEY = 'AIzaSyB2OJynYIkD7nW7ymSGtmkSHp9iMVN1K-M'
BASE_URL = 'https://www.googleapis.com/youtube/v3/'

In [3]:
def retrieve_api(url, params={}, data={}, headers={}, method='GET'):
    params = copy.deepcopy(params)
    params.update({
        'key': API_KEY
    })
    
    return requests.request(method, urllib.parse.urljoin(BASE_URL, url), params=params, data=data, headers=headers)

extract_commentThread_text = lambda item: item['snippet']['topLevelComment']['snippet']['textDisplay']
extract_caption_text = lambda item: item.text

In [4]:
VIDEO_ID = 'QImCld9YubE'

In [5]:
resp = retrieve_api('commentThreads', params={
    'videoId': VIDEO_ID,
    'part': 'snippet'
})
resp

In [6]:
commentData = json.loads(resp.text)

In [7]:
commentSeries = pd.Series(map(extract_commentThread_text, commentData['items']))

In [8]:
resp = requests.get(f'https://video.google.com/timedtext?lang=en&v={VIDEO_ID}')

In [9]:
captionData = ET.fromstring(resp.text)

In [10]:
captionSeries = pd.Series(map(extract_caption_text, [*captionData]))

In [22]:
import nltk

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [37]:
def get_words(st: str):
    st = re.sub('[^a-zA-Z\ ]', ' ', st)
    result = word_tokenize(st.lower())
    result = [*filter(lambda x: x not in stop_words, result)]
    result = [*map(lambda x: lemmatizer.lemmatize(x), result)]

    return result

def counter(dt, vl):
    if vl in dt:
        dt[vl] += 1
    else:
        dt[vl] = 1

In [46]:
dt = dict()
for tokenized in map(get_words, captionSeries):
   for word in tokenized:
       counter(dt, word)

words = []
freq = []
for key in dt:
    words.append(key)
    freq.append(dt[key])

df = pd.DataFrame.from_dict({
    'word': words,
    'freq': freq
})

df.sort_values(by='freq', ascending=False)

           word  freq
25         cell    30
114      energy    26
149         atp    17
89     molecule    16
41     universe    13
..          ...   ...
230     swallow     1
229       pesky     1
227     decided     1
226  convenient     1
467     purpose     1

[468 rows x 2 columns]